.NotePageMain {
  background-color: lightpink;
  height: 100%;
  padding: 10px;
  width: 100%;
}

.NotePageMain__content {
  color: #3a3939;
  max-width: 380px;
}

.NotePageMain__jobTitle {
  color: #3a3939;
  max-width: 380px;
  padding-top: 12px;
}

.NotePageMain__companyName {
  color: #3a3939;
  max-width: 380px;
  padding-top: 12px;
}

.NotePageMain__interview {
  color: #3a3939;
  max-width: 380px;
  padding-top: 12px;
}

.NotePageMain__jobRating {
  color: #3a3939;
  max-width: 380px;
  padding-top: 12px;
}

.NotePageMain__postedUrl {
  color: #3a3939;
  max-width: 380px;
  padding-top: 12px;
}
