.NoteListNav__list {
  list-style-type: none;
  margin: 0px;
  padding: 10px;
}

.NoteListNav__button-wrapper {
  max-width: 380px;
  margin: 0 10px;
}

.NoteListNav__add-folder-button {
  margin: 0 auto 20px;
}
.NoteListNav__add-folder-button:hover {
  background-color: blue;
  color: white;
}

.NoteListNav__folder-link {
  background-color: lightpink;
  color: black;
  display: block;
  font-family: var(--custom-font);
  font-size: 20px;
  margin: 2px 10px 8px auto;
  max-width: 300px;
  padding: 8px 8px;
  text-decoration: none;
  text-align: center;
}
.NoteListNav__folder-link:hover {
  color: yellow;
  cursor: pointer;
}
.NoteListNav__folder-link.active {
  background-color: blueviolet;
}

.NoteListNav__num-notes {
  color: #adadad;
  display: block;
  float: right;
  font-size: 10px;
}